{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if request.user.is_authenticated %}
<br>

<div class="col-8 col-sm-4 rounded" style="background-color: #ECE8E8; margin-bottom: 3%; margin-left: 33%">
<h4>Create a new post:</h4>
<hr>
<a class="btn btn-primary" href="/r/{{community.name}}/addtextpost" role="button">Text</a>
or
<a class="btn btn-primary" href="/r/{{community.name}}/addlinkpost" role="button">Link</a>
{% else %}
<a href="/login/">Create new community</a>
{% endif %}
<br>
<br>
<a class="btn btn-success" href="/createcommunity/" role="button">Create new community</a>
<br>
<br>
</div>
<div class="container" style=" background-color: #ECE8E8; text-align: left; align-content: center; padding-bottom: 10px; padding-top: 15px;" >
    <div style="background-color: white; text-align: left; padding-bottom: 5px; padding-top: 15px;">
    <h2 style="margin-left: 3%">r/{{community.name}}</h2>
</div>
<div class="container" style="background-color: white;padding-left: 7%;">
{% for post in data %}

{% comment %}
<!-- {% if currentuser in community.moderators.all %}
<a href='/r/{{community.name}}/post/delete/{{post.id}}'><button style='background-color:red'>delete</button></a>
{% elif currentuser == post.author %}
<a href='/r/{{community.name}}/post/delete/{{post.id}}'><button style='background-color:red'>delete</button></a>
{% endif %} -->
{% endcomment %}

{% if currentuser in community.moderators.all %}
            <button id='p-d-{{post.id}}' onclick="postdelete(event)" style="background-color: red">Delete</button>
        {% elif currentuser == node.commenter %}
            <button id='p-d-{{post.id}}' onclick="postdelete(event)" style="background-color: red">Delete</button>
        {% endif %} 

<div name='post_div' id=p-{{post.id}}>
    {% if post.urls %}

    <a href='{{post.urls}}'><h3>{{post.title}}</h3></a>
    <a href='{{post.urls}}'>{{post.urls}}</a>
    {% else %}
    <b>title:</b><a href='/r/{{post.community.name}}/post/{{post.id}}'><h3>{{post.title}}</h3></a>
    <p>{{post.text}}</p>
    {% endif %}
    <p>posted at <a href="/r/{{post.community.name}}">r/{{post.community.name}}</a></p>
    <p>{{post.date}}</p>
    <p>likes: {{post.post_likes.count}}</p>

    <a href='/r/{{post.community.name}}/post/{{post.id}}'>comments {{post.get_comment_count}}</a>
</div>
{% endfor %}
</div>
<br>
<br>
<br>
<br>


<script>

function postdelete(event){

    var a = event.target.id
    var b = a.split('-')
    var c = b[b.length-1]
    console.log("/api/post/" + c + "/delete")
    var x = document.getElementById(event.target.nextElementSibling.id)
    console.log(x)
    x.style.backgroundColor = "red"
    fetch("/api/post/" + c + "/delete")
}




</script>

{% endblock %}