{% extends 'base.html' %}
{%  load static %}
{%  block content %}
<div class="container-fluid rounded" style="background-color: #ECE8E8; padding-top: 25px;">
   <div class="row justify-content-between p-4">
      <div class="col-7 rounded" style="background-color :white; text-align: start;">
         <br>
         <h3>Popular posts:</h3>
         <hr>
         <br>
         <a href='/r/{{post.community.name}}/post/{{post.id}}'></a>
            <h2>{{post.title}}</h2>
                  <p>Posted at <a href="/r/{{post.community.name}}">r/{{post.community.name}}</a></p>
                     
                  <p>{{post.text}}</p>
                  <b>date: {{post.date}}</b>
                  <p>likes: {{post.post_likes.count}}</p>
                  <br>
                  <br>
      </div>

      <div class="col-4 rounded" style="background-color: white;">
         <br>
         {% if request.user.is_authenticated %}
         <h3> Hello, {{reddituser.displayname}}!</h3>
         {% endif %}
         {Bio will appear here when logged in}
      </div>
   </div>
   <div class="row justify-content-end p-4 pt-3">
      <div class="col-8 col-sm-4 rounded" style="background-color: white; align-content:center;"> 
         <br> 
            <a style="margin-top: 10px;" class="btn btn-primary" href="/createcommunity/" role="button">Add new community</a>
            <br>
            <br>
            <p >Want to create a new community?</p>
            <a class="btn btn-success" href="/login/" role="button"> Log in!</a>
            <br>
            <br>
      </div>
   </div>
   <div class="row justify-content-end pt-3 pb-3 mr-3">
   <div class="col-8 col-sm-4 rounded" style="background-color: white; ">
    <br>
      <h4>Today's trending communities:</h4>
      <hr>
      <br>
      <p>r/{{post.community.name}}</p>
   </div>
</div>
<div class="row justify-content-end mr-3">
   <div class="col-8 col-sm-4 rounded" style="background-color: white;>
      <br>
   <h5>ReadIt Rules:</h5>
   <hr>
   
   <p>♦ Remember the human.</p>
   <p>♦ Post to the most appropriate community possible.</p>
   <p>♦ Read the rules of a community before making a submission.</p>
   <br>
   
   </div>
</div>
</div>
{%  endblock %}
