{% extends 'base.html' %}
{% load static %}

  
  {% block content %}
<div>
           <div class="container" style="background-color: #ECE8E8">
   <br>
   <h3 style="margin-left: -700px;"> Hello, {{reddituser.displayname}}!</h3>
   <br>
   <div>
      <a style="margin-left: -700px;" class="btn btn-primary" href="/createcommunity/" role="button">Add your community</a>
      <br>
      <br>
      <p style="margin-left: -700px;">Want to create a new community?</p>
      <a style="margin-left: -700px;"class="btn btn-success" href="/login/" role="button"> Log in!</a>
   <br>
   <br>
   </div>
  </div>
   <br>
   <br>
       <a href='/r/{{post.community.name}}/post/{{post.id}}'>
   <h2>{{post.title}}</h2>
   </a>
       
   <p style="margin-left: -700px;">Posted at <a href="/r/{{post.community.name}}">r/{{post.community.name}}</a></p>
       
   <p style="margin-left: -700px;">{{post.text}}</p>
       <b>{{post.date}}</b>
       
   <p style="margin-left: -700px;">likes: {{post.post_likes.count}}</p>
  </div>
  {% endblock %}