<a href="/"><button style="color:#1A5276">Go Home!</button></a>

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container"></div>
<form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
    <br>
   
    <div class="col-6">
        <input type="submit" value="Login" btn btn-primary/>
        or
    <a href="/signup/">signup</a>
    <br>
    <br>
        <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
    </form>

    {% endblock %}
</div>