<a href="/">home</a>
{% if request.user.is_authenticated %}
<a href="/logout/">logout</a>
<p>Hello, {{reddituser.displayname}}!</p>
{% else %}
<a href="/login/">login</a>
<a href="/signup/">signup</a>
{% endif %}

<hr>

{% if request.user.is_authenticated %}
<a href="/createcommunity/">create new community</a>
{% else %}
<a href="/login/">create new community</a>
{% endif %}

<hr>


{% for post in data %}
    <a href='/r/{{post.community.name}}/post/{{post.id}}'><h2>{{post.title}}</h2></a>
    <p>posted at <a href="/r/{{post.community.name}}">r/{{post.community.name}}</a></p>
    <p>{{post.text}}</p>
    <b>{{post.date}}</b>
    <p>likes: {{post.post_likes.count}}</p>
{% endfor %}