{% extends 'base.html' %}
{%  load static %}
{%  block content %}

<!-- <a href="/">home</a>
{% if request.user.is_authenticated %}
<a href="/logout/">logout</a>
<p>Hello, {{request.user.username}}!</p>
{% else %}
<a href="/login/">login</a>
<a href="/signup/">signup</a>
{% endif %} -->

<!-- <hr>
javascript test
<p id="demo"></p>

<hr> -->

<!-- {% if request.user.is_authenticated %}
<a href="/createcommunity/">create new community</a>
<p>create new post</p>
<a href="/r/{{post.community.name}}/addtextpost">text</a>
or
<a href="/r/{{post.community.name}}/addlinkpost">link</a>
{% else %}
<a href="/login/">create new community</a>
{% endif %} -->
<!-- 
<hr> -->


    <h2>{{post.title}}</h2>
    <p>posted at <a href="/r/{{post.community.name}}">r/{{post.community.name}}</a></p>
    <p>{{post.text}}</p>
    <a href='{{post.urls}}'>{{post.urls}}</a>
    <p>{{post.date}}</p>
    
    <p><a href='/r/{{post.community.name}}/post/{{post.id}}'>comments {{post.get_comment_count}}</a></p>
    

    <p>likes: <span class='likeCount'>{{post.post_likes_count}}</span></p>

    {% if reddituser in post.post_likes.all %}
    <button id='p-like-{{post.id}}' onclick="postupvote(event)" style='background-color: green'>likes</button>
    <button id='p-dislike-{{post.id}}' onclick="postdownvote(event)">dislikes</button>

    {% elif reddituser in post.post_dislikes.all %}
    <button id='p-like-{{post.id}}' onclick="postupvote(event)">likes</button>
    <button id='p-dislike-{{post.id}}' onclick="postdownvote(event)" style='background-color: green'>dislikes</button>

    {% else %}
    <button id='p-like-{{post.id}}' onclick="postupvote(event)">likes</button>
    <button id='p-dislike-{{post.id}}' onclick="postdownvote(event)">dislikes</button>
    {% endif %}








    {% comment %}
    <!-- {% if reddituser in post.post_likes.all %}
        <a href='postvote/unlike/{{post.id}}'><button style="background-color: green">like</button></a>
        <a href='postvote/dislike/{{post.id}}'><button>dislike</button></a>
    {% elif reddituser in post.post_dislikes.all %}
        <a href='postvote/like/{{post.id}}'><button>like</button></a>
        <a href='postvote/undislike/{{post.id}}'><button style="background-color: green">dislike</button></a>
    {% else %}
        <a href='postvote/like/{{post.id}}'><button>like</button></a>
        <a href='postvote/dislike/{{post.id}}'><button>dislike</button></a>
    {% endif %} -->
    {% endcomment %}

     
    <hr>

    <button onclick="myFunction2()">Reply</button>
    <div id="mydiv" style="display: none;">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
    
    <hr>



    <div class='col'>
    {% load mptt_tags %}
<ul>
    {% recursetree comments %}
    {% if node.comment_removed == True %}
    [COMMENT DELETED]
    {% else %}
        
        
    
    
        {% comment %}
        <!-- {% if reddituser in community.moderators.all %}
        <a href='/r/{{community.name}}/comment/delete/{{node.id}}'><button style='background-color:red'>delete</button></a>
        {% elif reddituser == node.commenter %}
        <a href='/r/{{community.name}}/comment/delete/{{node.id}}'><button style='background-color:red'>delete</button></a>
        {% endif %} -->
        {% endcomment %}
        {% if reddituser in community.moderators.all %}
            <button id='c-d-{{node.id}}'onclick="commentdelete(event)" style="background-color: red">Delete</button>
        {% elif reddituser == node.commenter %}
            <button id='c-d-{{node.id}}'onclick="commentdelete(event)" style="background-color: red">Delete</button>
        {% endif %} 
        <div id=c-{{node.id}}>
        <div id=c-info-{{node.id}}>
        <li>
            <p>{{ node.commenter.displayname }}</p>
            <b>{{ node.text }}</b>
            <p>{{ node.date }}</p>

            {% comment %}
            <!-- <button id='like-{{node.id}}' onclick="upvote(event)">likes</button>
            <button id='like-{{node.id}}' onclick="downvote(event)">dislikes</button> -->
            {% endcomment %}
            
            <p><span class='c-likeCount'>{{ node.comment_likes_count }}</span></p>

            {% if reddituser in node.comment_likes.all %}
            <button id='c-like-{{node.id}}' onclick="commentupvote(event)" style='background-color: green'>likes</button>
            <button id='c-dislike-{{node.id}}' onclick="commentdownvote(event)">dislikes</button>

            {% elif reddituser in node.comment_dislikes.all %}
            <button id='c-like-{{node.id}}' onclick="commentupvote(event)">likes</button>
            <button id='c-dislike-{{node.id}}' onclick="commentdownvote(event)" style='background-color: green'>dislikes</button>

            {% else %}
            <button id='c-like-{{node.id}}' onclick="commentupvote(event)">likes</button>
            <button id='c-dislike-{{node.id}}' onclick="commentdownvote(event)">dislikes</button>
            {% endif %}

            {% comment %}
            <!-- {% if reddituser in node.comment_likes.all %}
                <a href='commentvote/unlike/{{node.id}}'><button style="background-color: green">like</button></a>
                <a href='commentvote/dislike/{{node.id}}'><button>dislike</button></a>
            {% elif reddituser in node.comment_dislikes.all %}
                <a href='commentvote/like/{{node.id}}'><button>like</button></a>
                <a href='commentvote/undislike/{{node.id}}'><button style="background-color: green">dislike</button></a>
            {% else %}
                <a href='commentvote/like/{{node.id}}'><button>like</button></a>
                <a href='commentvote/dislike/{{node.id}}'><button>dislike</button></a>
            {% endif %} -->
            {% endcomment %}

            <button onclick="myFunction(event)">Reply</button>
            <div id="myDIV-{{node.id}}" style="display: none;">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="comment_id" value="{{ node.id }}">
                <input type="submit" value="Submit">
            </form>
            </div>
            </div>
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    </div>
    {% endrecursetree %}
</ul>
</div>


<script>

function myFunction(event) {
    var a = event.target.nextSibling.nextSibling.id
  var x = document.getElementById(a);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }


}

function myFunction2() {
  var x = document.getElementById("mydiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }


}

function postupvote(event){
    var voteCount = parseInt(event.target.previousElementSibling.firstElementChild.textContent)
    var button = document.getElementById(event.target.id)
    var secondbutton = document.getElementById(event.target.nextElementSibling.id)
    var dislikebutton = event.target.nextElementSibling.style[0]

    var a = event.target.id
    var b = a.split('-')
    var c = b[b.length-1]

    if(dislikebutton == null && event.target.style[0] == null){
        voteCount += 1
        button.style.backgroundColor = 'green'
        fetch("/api/post/" + c + "/upvote" )
    }else if(dislikebutton !== null && event.target.style[0] == null){
        voteCount += 2
        button.style.backgroundColor = 'green'
        secondbutton.style.backgroundColor = null
        fetch("/api/post/" + c + "/upvote" )
    }else if(dislikebutton == null && event.target.style[0] !== null){
        voteCount -= 1
        button.style.backgroundColor = null
        fetch("/api/post/" + c + "/unupvote" )
    }
    event.target.previousElementSibling.firstElementChild.textContent = voteCount
    // event.target.nextElementSibling.style[0]
    // --------------------------

}

function postdownvote(event){
    var voteCount = parseInt(event.target.previousElementSibling.previousElementSibling.firstElementChild.textContent)
    var button = document.getElementById(event.target.id)
    var secondbutton = document.getElementById(event.target.previousElementSibling.id)
    var likebutton = event.target.previousElementSibling.style[0]
    
    var a = event.target.id
    var b = a.split('-')
    var c = b[b.length-1]
    
    if(likebutton == null && event.target.style[0] == null){
        voteCount -= 1
        button.style.backgroundColor = 'green'
        fetch("/api/post/" + c + "/downvote" )
    }else if(likebutton !== null && event.target.style[0] == null){
        voteCount -= 2
        button.style.backgroundColor = 'green'
        secondbutton.style.backgroundColor = null
        fetch("/api/post/" + c + "/downvote" )
    }else if(likebutton == null && event.target.style[0] !== null){
        voteCount += 1
        button.style.backgroundColor = null
        fetch("/api/post/" + c + "/undownvote" )
    }
    event.target.previousElementSibling.previousElementSibling.firstElementChild.textContent = voteCount

}

function commentupvote(event){
    var voteCount = parseInt(event.target.previousElementSibling.firstElementChild.textContent)
    var button = document.getElementById(event.target.id)
    var secondbutton = document.getElementById(event.target.nextElementSibling.id)
    var dislikebutton = event.target.nextElementSibling.style[0]

    var a = event.target.id
    var b = a.split('-')
    var c = b[b.length-1]

    if(dislikebutton == null && event.target.style[0] == null){
        voteCount += 1
        button.style.backgroundColor = 'green'
        fetch("/api/comment/" + c + "/upvote" )
    }else if(dislikebutton !== null && event.target.style[0] == null){
        voteCount += 2
        button.style.backgroundColor = 'green'
        secondbutton.style.backgroundColor = null
        fetch("/api/comment/" + c + "/upvote" )
    }else if(dislikebutton == null && event.target.style[0] !== null){
        voteCount -= 1
        button.style.backgroundColor = null
        fetch("/api/comment/" + c + "/unupvote" )
    }
    event.target.previousElementSibling.firstElementChild.textContent = voteCount
    // event.target.nextElementSibling.style[0]
    // --------------------------

}

function commentdownvote(event){
    var voteCount = parseInt(event.target.previousElementSibling.previousElementSibling.firstElementChild.textContent)
    var button = document.getElementById(event.target.id)
    var secondbutton = document.getElementById(event.target.previousElementSibling.id)
    var likebutton = event.target.previousElementSibling.style[0]
    
    var a = event.target.id
    var b = a.split('-')
    var c = b[b.length-1]
    
    if(likebutton == null && event.target.style[0] == null){
        voteCount -= 1
        button.style.backgroundColor = 'green'
        fetch("/api/comment/" + c + "/downvote" )
    }else if(likebutton !== null && event.target.style[0] == null){
        voteCount -= 2
        button.style.backgroundColor = 'green'
        secondbutton.style.backgroundColor = null
        fetch("/api/comment/" + c + "/downvote" )
    }else if(likebutton == null && event.target.style[0] !== null){
        voteCount += 1
        button.style.backgroundColor = null
        fetch("/api/comment/" + c + "/undownvote" )
    }
    event.target.previousElementSibling.previousElementSibling.firstElementChild.textContent = voteCount

}

function commentdelete(event){
    var a = event.target.id
    var b = a.split('-')
    var c = b[b.length-1]

    var x = document.getElementById(event.target.nextElementSibling.firstElementChild.id)
    x.style.backgroundColor = "red"
    fetch("/api/comment/" + c + "/delete")
}

// function postunupvote(event){
//     var a = event.target.id
//     var b = a.split('-')
//     var c = b[b.length-1]
//     fetch("/api/post/" + c + "/unupvote" )
// }

// function postundownvote(event){
//     var a = event.target.id
//     var b = a.split('-')
//     var c = b[b.length-1]
//     fetch("/api/post/" + c + "/undownvote" )
// }


</script>

{% endblock %}