{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid" style="background-color: #ECE8E8;">
            <div class="row">
               <div class='col-8'>
                  <div class='container'>
                     
                        <div class="row round" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                          <!-- <div class='col'> -->
                              <div id="this one" class="card" style="width: 100%;" >
                                    <div class="card-body">
                                     {% if post.urls %}
                                       <h2 class="card-title">{{post.title}}</h2>
                                     {% else %}
                                     <h2 class="card-title"><a href='/r/{{post.community.name}}/post/{{post.id}}'>{{post.title}}</a></h2>
                                     {% endif %}
                                    
      
                                      <!-- <h6 class="card-subtitle mb-2 text-muted">posted at <a href='/r/{{post.community.name}}'>r/{{post.community.name}}</a></h6> -->
                                      <p>by <a href='/profile/{{post.author.displayname}}'>{{post.author.displayname}}</a> - {{post.date}}</p>
                                      <p class="card-text">
                                           <a href='/r/{{post.community.name}}/post/{{post.id}}'></a>
                                                   <hr>
                                                            <p>{{post.text}}</p>
                                                            <p><a href='{{post.urls}}'>{{post.urls}}</a></p>
                                                            
            
                                       </p>
                                       <hr>
                                       <div class='row'>
                                                

                                     <div class='col' style="text-align: center">
                                            {% if reddituser in post.post_likes.all %}
                                            
                                            <button id='p-like-{{post.id}}' onclick="postupvote(event)" style='background-color: green'>likes</button>
                                            <span class='likeCount'>{{post.post_likes_count}}</span>
                                            <button id='p-dislike-{{post.id}}' onclick="postdownvote(event)">dislikes</button>

                                            {% elif reddituser in post.post_dislikes.all %}
                                            <button id='p-like-{{post.id}}' onclick="postupvote(event)">likes</button>
                                            <span class='likeCount'>{{post.post_likes_count}}</span>
                                            <button id='p-dislike-{{post.id}}' onclick="postdownvote(event)" style='background-color: green'>dislikes</button>

                                            {% else %}
                                            <button id='p-like-{{post.id}}' onclick="postupvote(event)">likes</button>
                                            <span class='likeCount'>{{post.post_likes_count}}</span>
                                            <button id='p-dislike-{{post.id}}' onclick="postdownvote(event)">dislikes</button>
                                            {% endif %}
                                       
                                    </div>
                                    <div class='col' style="text-align: center">
                                      <a href="#" class="card-link">Share this post</a>
                                    </div>
                                      <div class='col' style="text-align: center">
                                      <a href="/r/{{post.community.name}}/post/{{post.id}}" class="card-link">Comment {{post.get_comment_count}}</a>
                                    </div>
                                 </div>
                                 <hr>
                                 <button onclick="myFunction2()">Reply</button>
                                 <div id="mydiv" style="display: none;">
                                 <form action="" method="post">
                                     {% csrf_token %}
                                     {{ form }}
                                     <input type="submit" value="Submit">
                                 </form>
                             </div>
                             <hr>
                                 <h3>Comments:</h3>
                                 <hr>
                                 
                                    </div>
                                  </div>
                        </div>
                      </div>



                      
                  </div>





               <!-- ---------------------------------------------------------------------------------------------- -->
           <div class='col-4'>
              <div class='container-fluid' style="width: 100%">
                    <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                          <div class="card" style="width: 100%" >
                                    <div class="card-header">
                                                <h3 style="color: #FF4E00;">community details:</h3>
                                             </div>
                                <!-- <img class="card-img-top" style="width:100px; margin-left: 40%; margin-top: 5px;" src='{% static "images/glasses4.png" %}' > -->
                              <div class='row'>
                                    <div class='col-4' style="margin-left: 10px">
                                                <br>
                                                
                                          <img src="{% static 'images/glasses4.png' %}" style='width:100%;height:100%;' alt="logo" class="rounded">
                                    </div>
                                    <br>
                                    <div class='col'>
                                                <br>
                                                <br>
                                          <h3 class="card-title">r/{{community.name}}</h3>
                                    </div>
                              </div>     
                                                                                                
                                <div class="card-body">
                                          <hr>         
                                    <div class='row' style="text-align: center">
                                          <div class=col>
                                                      <p>{{community.subscriber.all.count}}</p>
                                                      <h6>subscribers</h6>
                                          </div>
                                          <div class=col>
                                                <div style='border-left: 2px solid green;height: 100%;position: absolute;left: 50%;margin-left: -3px;top: 0;'></div>
                                                </div>
                                                <div class=col>
                                                      <p>{{community.date_only}}</p>
                                                      <h6>birthday</h6>
                                                      </div>
                                                     
                                    </div>
                                    <hr> 
                                  <p>{{community.description}}</p>
                                  <br>
                                  {% if request.user.is_authenticated %}
                                  <hr>
                                    {% if reddituser in community.subscriber.all %}
                                  <a class="btn btn-success" href="/r/{{community.name}}/unsubsribe" role="button" style='width:100%'>Unsubscribe</a>
                                    {% else %}
                                    <a class="btn btn-success" href="/r/{{community.name}}/subsribe" role="button" style='width:100%'>Subscribe</a>
                                    {% endif %}
                                  <hr>
                                  

                                {% endif %}
                                </div>
                              </div>
                    </div>
              </div>
              <div class='container-fluid'style="width: 100%">
                 
                    <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px;" >
                          <div class="card" style="width: 100%" >
                                      <div class="card-body" style="text-align: center">
                                       <h6 style="color: lightgray">ADVERTISEMENT</h6>
                                      <img class="card-img-top"; style="width:100%;" src="{% static "images/ad2.png" %}" alt="Card image cap">
                                       </div>
                                </div>
                              </div>
                    </div>
              <div class='container-fluid rounded'>
                    <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                          <div class="card" style="width: 100%">
                                <div class="card-header">
                                       <h3 style="color: #FF4E00; text-align: left;">Moderators:</h3>
                                    </div>
                                <div class="card-body">
                                    {% for i in community.moderators.all%}
                                          <p>{{i.displayname}}</p>
                                    {% endfor %}
                                </div>
                              </div>
                    </div>
              </div>
              
                    <div class='container-fluid'>
                          <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px;" >
                                <div class="card" style="width:100%;" >
                                            <div class="card-body">
                                       <h5 class="card-subtitle mb-2 text-muted" style="text-align: center;">ReadIt Rules:</h5>
                                      <br>
                                      <div>
                                      <ul style="word-wrap:normal;">
                                            <li>Remember the human.</li>
                                            <li>Post to the most appropriate community possible.</li>
                                            <li>Read the rules of a community.</li>
                                      </ul>
                                      </div>    
                                      </div>
                                    </div>
                          </div>
           </div>
           </div>





           
              </div>
        
     </div>
    </div>

<!-- -------------------------------------------------------------------------------------- -->
     <script>

            function myFunction(event) {
                var a = event.target.nextSibling.nextSibling.id
              var x = document.getElementById(a);
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            
            
            }
            
            function myFunction2() {
              var x = document.getElementById("mydiv");
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            
            
            }
            
            function postupvote(event){
                var voteCount = parseInt(event.target.nextElementSibling.textContent)
                var button = document.getElementById(event.target.id)
                var secondbutton = document.getElementById(event.target.nextElementSibling.nextElementSibling.id)
                var dislikebutton = event.target.nextElementSibling.nextElementSibling.style[0]
            
                var a = event.target.id
                var b = a.split('-')
                var c = b[b.length-1]
            
                if(dislikebutton == null && event.target.style[0] == null){
                    voteCount += 1
                    button.style.backgroundColor = 'green'
                    fetch("/api/post/" + c + "/upvote" )
                }else if(dislikebutton !== null && event.target.style[0] == null){
                    voteCount += 2
                    button.style.backgroundColor = 'green'
                    secondbutton.style.backgroundColor = null
                    fetch("/api/post/" + c + "/upvote" )
                }else if(dislikebutton == null && event.target.style[0] !== null){
                    voteCount -= 1
                    button.style.backgroundColor = null
                    fetch("/api/post/" + c + "/unupvote" )
                }
                event.target.nextElementSibling.textContent = voteCount
                // event.target.nextElementSibling.style[0]
                // --------------------------
            
            }
            
            function postdownvote(event){
                var voteCount = parseInt(event.target.previousElementSibling.textContent)
                var button = document.getElementById(event.target.id)
                var secondbutton = document.getElementById(event.target.previousElementSibling.previousElementSibling.id)
                var likebutton = event.target.previousElementSibling.previousElementSibling.style[0]
                
                var a = event.target.id
                var b = a.split('-')
                var c = b[b.length-1]
                console.log("/api/post/" + c + "/undownvote")
                
                if(likebutton == null && event.target.style[0] == null){
                    voteCount -= 1
                    button.style.backgroundColor = 'green'
                    fetch("/api/post/" + c + "/downvote" )
                }else if(likebutton !== null && event.target.style[0] == null){
                    voteCount -= 2
                    button.style.backgroundColor = 'green'
                    secondbutton.style.backgroundColor = null
                    fetch("/api/post/" + c + "/downvote" )
                }else if(likebutton == null && event.target.style[0] !== null){
                    voteCount += 1
                    button.style.backgroundColor = null
                    fetch("/api/post/" + c + "/undownvote" )
                }
                event.target.previousElementSibling.textContent = voteCount
            
            }
            
            function commentupvote(event){
                var voteCount = parseInt(event.target.previousElementSibling.firstElementChild.textContent)
                var button = document.getElementById(event.target.id)
                var secondbutton = document.getElementById(event.target.nextElementSibling.id)
                var dislikebutton = event.target.nextElementSibling.style[0]
            
                var a = event.target.id
                var b = a.split('-')
                var c = b[b.length-1]
            
                if(dislikebutton == null && event.target.style[0] == null){
                    voteCount += 1
                    button.style.backgroundColor = 'green'
                    fetch("/api/comment/" + c + "/upvote" )
                }else if(dislikebutton !== null && event.target.style[0] == null){
                    voteCount += 2
                    button.style.backgroundColor = 'green'
                    secondbutton.style.backgroundColor = null
                    fetch("/api/comment/" + c + "/upvote" )
                }else if(dislikebutton == null && event.target.style[0] !== null){
                    voteCount -= 1
                    button.style.backgroundColor = null
                    fetch("/api/comment/" + c + "/unupvote" )
                }
                
                event.target.previousElementSibling.firstElementChild.textContent = voteCount
                // event.target.nextElementSibling.style[0]
                // --------------------------
            
            }
            
            function commentdownvote(event){
                var voteCount = parseInt(event.target.previousElementSibling.previousElementSibling.firstElementChild.textContent)
                var button = document.getElementById(event.target.id)
                var secondbutton = document.getElementById(event.target.previousElementSibling.id)
                var likebutton = event.target.previousElementSibling.style[0]
                
                var a = event.target.id
                var b = a.split('-')
                var c = b[b.length-1]
                
                if(likebutton == null && event.target.style[0] == null){
                    voteCount -= 1
                    button.style.backgroundColor = 'green'
                    fetch("/api/comment/" + c + "/downvote" )
                }else if(likebutton !== null && event.target.style[0] == null){
                    voteCount -= 2
                    button.style.backgroundColor = 'green'
                    secondbutton.style.backgroundColor = null
                    fetch("/api/comment/" + c + "/downvote" )
                }else if(likebutton == null && event.target.style[0] !== null){
                    voteCount += 1
                    button.style.backgroundColor = null
                    fetch("/api/comment/" + c + "/undownvote" )
                }
                event.target.previousElementSibling.previousElementSibling.firstElementChild.textContent = voteCount
            
            }
            
            function commentdelete(event){
                var a = event.target.id
                var b = a.split('-')
                var c = b[b.length-1]
            
                var x = document.getElementById(event.target.nextElementSibling.firstElementChild.id)
                x.style.backgroundColor = "red"
                fetch("/api/comment/" + c + "/delete")
            }
            
            // function postunupvote(event){
            //     var a = event.target.id
            //     var b = a.split('-')
            //     var c = b[b.length-1]
            //     fetch("/api/post/" + c + "/unupvote" )
            // }
            
            // function postundownvote(event){
            //     var a = event.target.id
            //     var b = a.split('-')
            //     var c = b[b.length-1]
            //     fetch("/api/post/" + c + "/undownvote" )
            // }
            
            
            </script> 

{% endblock %}