<a href="/">home</a>
{% if request.user.is_authenticated %}
<a href="/logout/">logout</a>
<p>hello {{request.user.username}}</p>
{% else %}
<a href="/login/">login</a>
<a href="/signup/">signup</a>
{% endif %}

<hr>

{% if request.user.is_authenticated %}
<a href="/createcommunity/">create new community</a>
<p>create new post</p>
<a href="/r/{{post.community.name}}/addtextpost">text</a>
or
<a href="/r/{{post.community.name}}/addlinkpost">link</a>
{% else %}
<a href="/login/">create new community</a>
{% endif %}

<hr>


    <h2>{{post.title}}</h2>
    <p>posted at <a href="/r/{{post.community.name}}">r/{{post.community.name}}</a></p>
    <p>{{post.text}}</p>
    <b>{{post.date}}</b>
    <p>likes: {{post.post_likes.count}}</p>

    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    
    <hr>

    {% load mptt_tags %}
<ul>
    {% recursetree comments %}
        <div id=c-{{node.id}}>
        <li>
            <p>{{ node.commenter.displayname }}</p>
            <b>{{ node.text }}</b>
            <p>{{ node.date }}</p>
            <p>{{ node.comment_likes.count }}</p>


            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="comment_id" value="{{ node.id }}">
                <input type="submit" value="Submit">
            </form>



            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    </div>
    {% endrecursetree %}
</ul>
