{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid" style="background-color: #ECE8E8;">
        <div class="row">
           <div class='col-8'>
                  <div class='row'>
                              <div class='col'>
                                    <button onclick='myfunction2()' style='width: 100%; '>Post</button>
                              </div>
                              <div class='col'>
                                   <button style='width: 100%; background-color: green'>Comments</button>
                                    </div>
            
                        </div>
              <div class='container'>
                 {% for comment in comments %}
                   {% if comment.parent %} 

                   <div class="row round" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                        <div class="card" style="width: 100%" >
                              <div class="card-body">
                               
                               <h5 class="card-title">{{comment.parent.text}}</h2>
                           
                              
                                  
                                <h6 class="card-subtitle mb-2 text-muted">comment at <a href='/r/{{comment.parent.post.community.name}}/post/{{comment.parent.post.id}}'>{{comment.parent.post.title}}</a></h6>
                                <hr>
                                <p>by <a href='/profile/{{comment.parent.commenter.displayname}}'>{{comment.parent.commenter.displayname}}</a> - {{comment.parent.date}} - Likes: {{comment.parent.comment_likes.count}}</p>
                                <p class="card-text">
                                     
                                             
                              </div>
                            </div>
                            <!-- <div style="width:100%;border-style: solid"></div> --><hr>
                            <div class="card" style="width: 100%" >
                                    <div class="card-body" style='margin-left: 50px' >
                                     
                                     <h5 class="card-title">{{comment.text}}</h2>
                                 
                                    
                                        
                                      <h6 class="card-subtitle mb-2 text-muted">comment to <a href='/r/{{comment.post.community.name}}/post/{{comment.post.id}}'>{{comment.post.title}}</a></h6>
                                      <hr>
                                      <p>by <a href='/profile/{{comment.commenter.displayname}}'>{{comment.commenter.displayname}}</a> - {{comment.date}} - Likes: {{comment.comment_likes.count}}</p>
                                      <p class="card-text">
                                           
                                                   
                                    </div>
                                  </div>
                  </div>



                   {% else %}
                 <div class="row round" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                          <div class="card" style="width: 100%" >
                                <div class="card-body">
                                 
                                 <h5 class="card-title">{{comment.text}}</h2>
                             
                                
                                    
                                  <h6 class="card-subtitle mb-2 text-muted">comment to <a href='/r/{{comment.post.community.name}}/post/{{comment.post.id}}'>{{comment.post.title}}</a></h6>
                                  <hr>
                                  <p>by <a href='/profile/{{comment.commenter.displayname}}'>{{comment.commenter.displayname}}</a> - {{comment.date}} - Likes: {{comment.comment_likes.count}}</p>
                                  <p class="card-text">
                                       
                                               
                                </div>
                              </div>
                    </div>
                    {% endif %}
                 {% endfor %}
              </div>
           </div>
               <!-- ---------------------------------------------------------------------------------------------- -->
           <div class='col-4'>
              <div class='container-fluid' style="width: 100%">
                    <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                          <div class="card" style="width: 100%" >
                                    <div class="card-header">
                                                <h3 style="color: #FF4E00;">profile details:</h3>
                                             </div>
                                <!-- <img class="card-img-top" style="width:100px; margin-left: 40%; margin-top: 5px;" src='{% static "images/glasses4.png" %}' > -->
                              <div class='row'>
                                    <div class='col-4' style="margin-left: 10px">
                                                <br>
                                                
                                          <img src="{% static 'images/glasses4.png' %}" style='width:100%;height:100%;' alt="logo" class="rounded">
                                    </div>
                                    <br>
                                    <div class='col'>
                                                <br>
                                                <br>
                                          <h3 class="card-title">{{reddituser.displayname}}</h3>
                                    </div>
                              </div>     
                                                                                                
                                <div class="card-body">
                                          <hr>         
                                    <div class='row' style="text-align: center">
                                          <div class=col>
                                                      <p>{{comment_likes}}</p>
                                                      <h6>comment score</h6>
                                          </div>
                                          <div class=col>
                                                <div style='border-left: 2px solid green;height: 100%;position: absolute;left: 50%;margin-left: -3px;top: 0;'></div>
                                                </div>
                                                <div class=col>
                                                      <p>{{post_likes}}</p>
                                                      <h6>post score</h6>
                                                      </div>
                                                      <div class=col>
                                                            <div style='border-left: 2px solid green;height: 100%;position: absolute;left: 50%;margin-left: -3px;top: 0;'></div>
                                                            </div>
                                                            <div class=col>
                                                                  <p style="font-size: 15px">{{reddituser.birthdate}}</p>
                                                                  <h6>birthday</h6>
                                                                  </div>
                                                     
                                    </div>
                                    <hr> 
                                  <p>{{reddituser.bio}}</p>
                                  <br>
                                  
                                </div>
                              </div>
                    </div>
              </div>
              <div class='container-fluid'style="width: 100%">
                 
                    <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px;" >
                          <div class="card" style="width: 100%" >
                                      <div class="card-body" style="text-align: center">
                                       <h6 style="color: lightgray">ADVERTISEMENT</h6>
                                      <img class="card-img-top"; style="width:100%;" src="{% static "images/ad2.png" %}" alt="Card image cap">
                                       </div>
                                </div>
                              </div>
                    </div>
              <div class='container-fluid rounded'>
                    <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                          <div class="card" style="width: 100%">
                                <div class="card-header">
                                       <h3 style="color: #FF4E00; text-align: left;">Moderator of:</h3>
                                    </div>
                                <div class="card-body">
                                        {% for i in community_mod %}

                                        <p><a href='/r/{{i.name}}'>r/{{i.name}}</a></p>
                                        {% endfor %}
                                </div>
                              </div>
                    </div>
              </div>
              <div class='container-fluid rounded'>
                    <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px" >
                          <div class="card" style="width: 100%">
                                <div class="card-header">
                                       <h3 style="color: #FF4E00; text-align: left;">Subscribed to:</h3>
                                    </div>
                                <div class="card-body">
                                    {% for i in community_subsribed %}
                                    <p><a href='/r/{{i.name}}'>r/{{i.name}}</a></p>
                                    {% endfor %}
                                </div>
                              </div>
                    </div>
              </div>
              
                    <div class='container-fluid'>
                          <div class="row" style="background-color: white; margin-top: 5px; margin-bottom: 5px;" >
                                <div class="card" style="width:100%;" >
                                            <div class="card-body">
                                       <h5 class="card-subtitle mb-2 text-muted" style="text-align: center;">ReadIt Rules:</h5>
                                      <br>
                                      <div>
                                      <ul style="word-wrap:normal;">
                                            <li>Remember the human.</li>
                                            <li>Post to the most appropriate community possible.</li>
                                            <li>Read the rules of a community.</li>
                                      </ul>
                                      </div>    
                                      </div>
                                    </div>
                          </div>
           </div>
           </div>
              </div>
        
     </div>


     <script>
         function  myfunction2(){
   location.href = "/profile/{{reddituser.displayname}}"
  }   
            
     </script> 

{% endblock %}





